body {

  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

h5,
h2,
h1,
.explanation {
  font-size: 1.5rem;
  font-weight: 1.5;
  line-height: 1.5;
  color: #f6f7f8;

}

.form-group {
  color: white;
}

.wrapper {
  margin-top: 100px;
}

.carousel img {
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.twitterFeed .card {
  position: absolute;
  left: 65%;
  top: 25%;
}

.twitterFeed .scroll {
  max-height: 200px;
  overflow-y: auto;
}

.twitterFeed .space_feed h1 {
  color: black;
}