body {

    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

h5,
h2,
h1,
.explanation {
    font-size: 1.5rem;
    font-weight: 1.5;
    line-height: 1.5;
    color: #f6f7f8;

}

.wrapper {
    margin-top: 100px;
}