body {

    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

h5,
h2,
h1,
.explanation {
    font-size: 1.5rem;
    font-weight: 1.5;
    line-height: 1.5;
    color: #f6f7f8;
    margin-left: 5%;
    margin-right: 5%;


}

.wrapper {
    margin-top: 100px;
}

.scroll {
    max-height: 200px;
    overflow-y: auto;
}

.space_feed {
    position: absolute;
    left: 70%;
    top: 25%;
}

/*picture of the day page*/
.picOfday {
    height: 500px;
    width: 500px;

}

.bigDiv {
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 912px) {

    .picOfday {
        height: 300px;
        width: 300px;
    }
}

/*rover page*/
.rover {
    margin-top: 10%;
    justify-content: center;
    display: flex;
}

.rover .picture {
    width: 50%;
    max-height: 20%;
}


.rover .btn {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
    .rover {
        margin-top: 20%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 2%;
        padding-left: 2%;

    }
}

@media screen and (max-width: 480px) {
    .rover .btn {
        justify-content: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 2%;
        padding-left: 2%;

    }
}


.bn1,
.bn2,
.bn3,
.bn4,
.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.bn1:before,
.bn2:before,
.bn3:before,
.bn4:before,
.bn5:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowingbn5 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.bn1:active,
.bn2:active,
.bn3:active,
.bn4:active,
.bn5:active {
    color: #000;
}

.bn1:active:after,
.bn2:active:after,
.bn3:active:after,
.bn4:active:after,
.bn5:active:after {
    background: transparent;
}

.bn1:hover:before,
.bn2:hover:before,
.bn3:hover:before,
.bn4:hover:before,
.bn5:hover:before {
    opacity: 1;
}

.bn1:after,
.bn2:after,
.bn3:after,
.bn4:after,
.bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;

}


/* comments section*/
#comments {
    background: #181226;
    border: none;
    border-radius: 0;
    color: #f3f4f5;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5em 1em;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.addComment {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.theButton {
    margin-bottom: 30px;
}

.theDiv {
    padding-bottom: 100px;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .buttonDiv {

        display: flex;
        align-items: center;
        flex-direction: column;
        padding-right: 2%;
        padding-left: 2%;

    }
}


.captureButton {
    margin-top: 20px;
    margin-bottom: 20px;
}

.words {
    margin-bottom: 20px;
}